<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" >
    <meta  charset="UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <title>Favorite recipes. Corn Bread page.</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container"> <!-- <div class="container-fluid">  -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Favorite Recipes</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="crabcakes">Crabcake Page</a></li>
            <li><a href="cornbread">Corn Bread Page</a></li>
            <li><a href="gingerale">Ginger Ale Page</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Corn Bread Recipe</h1>
    </div>
</div>

<div class="container" >
    <h1 class="text-center">Ingredients:</h1>
    <table class="table table-striped" align="center">
        <thead>
        </thead>

        <tbody>
        <tr><td><li> 6 tablespoons unsalted butter, melted, plus butter for baking dish. </li></td></tr>
        <tr><td><li>  1 cup cornmeal. </li></td></tr>
        <tr><td><li>  3/4 cup all-purpose flour. </li></td></tr>
        <tr><td><li> 1 tablespoon sugar. </li></td></tr>
        <tr><td><li> 1 1/2 teaspoons baking powder. </li></td></tr>
        <tr><td><li> 1/2 teaspoon baking soda. </li></td></tr>
        <tr><td><li>  1/4 teaspoon salt. </li></td></tr>
        <tr><td><li> 2 large eggs, lightly beaten. </li></td></tr>
        </tbody>
    </table>

    <div class="bs-callout bs-callout-primary">
        <h1>Directions:</h1>
        <p>
            Preheat the oven to 425 degrees F. Lightly grease an 8-inch baking dish.
            In a large bowl, mix together the cornmeal, flour, sugar, baking powder, baking soda, and salt.
            <br></br><br></br>
            In a separate bowl, mix together the eggs, buttermilk, and butter.
            Pour the buttermilk mixture into the cornmeal mixture and fold together until there are no dry spots (the batter will still be lumpy).
            Pour the batter into the prepared baking dish.
            <br></br><br></br>
            Bake until the top is golden brown and tester inserted into the middle of the corn bread comes out clean, about 20 to 25 minutes.
            Remove the cornbread from the oven and let it cool for 10 minutes before serving.
        </p>
    </div>



    <img src="cornbread1.jpg" alt="Pictire of Cornbread" style="width:1145px;height:890px;"/>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="external.css"/>

</body>
</html>