<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" >
    <meta  charset="UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <title>Favorite recipes. Ginger Ale web page.</title>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container"> <!-- <div class="container-fluid">  -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Favorite Recipes</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="crabcakes">Crabcake Page</a></li>
            <li><a href="cornbread">Corn Bread Page</a></li>
            <li><a href="gingerale">Ginger Ale Page</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Ginger Ale Recipe</h1>
    </div>
</div>

<div class="container" >
    <h1 class="text-center">Ingredients:</h1>
    <table class="table table-striped" align="center">
        <thead>
        </thead>

        <tbody>
        <tr><td><li> 1 1/2 ounces finely grated fresh ginger. </li></td></tr>
        <tr><td><li> 6 ounces sugar. </li></td></tr>
        <tr><td><li> 7 1/2 cups filtered water. </li></td></tr>
        <tr><td><li> 1/8 teaspoon active dry yeast. </li></td></tr>
        <tr><td><li>  2 tablespoons freshly squeezed lemon juice. </li></td></tr>
        </tbody>
    </table>

    <div class="bs-callout bs-callout-primary">
        <h1>Directions:</h1>
        <p>
            Place the ginger, sugar, and 1/2 cup of the water into a 2-quart saucepan and set over medium-high heat.
            Stir until the sugar has dissolved. Remove from the heat, cover and allow to steep for 1 hour.
            <br></br><br></br>
            Pour the syrup through a fine mesh strainer set over a bowl, pressing down to get all of the juice out of the mixture.
            Chill quickly by placing over and ice bath and stirring or set in the refrigerator, uncovered, until at least room temperature, 68 to 72 degrees F.
            <br></br><br></br>
            Using a funnel, pour the syrup into a clean 2-liter plastic bottle and add the yeast, lemon juice and remaining 7 cups of water.
            Place the cap on the bottle, gently shake to combine and leave the bottle at room temperature for 48 hours.
            Open and check for desired amount of carbonation. It is important that once you achieve your desired amount of carbonation that you refrigerate the ginger ale.
            Store in the refrigerator for up to 2 weeks, opening the bottle at least once a day to let out excess carbonation.
        </p>
    </div>

    <img src="IMG_1198-2-1200x640.jpg" alt="Ginger Ale Picture" style="width:1145px;height:640px;"/>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="external.css"/>

</body>
</html>