<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" >
    <meta  charset="UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <title>Favorite recipes. Home page.</title>
</head>


<body>


<nav class="navbar navbar-inverse">
    <div class="container"> <!-- <div class="container-fluid">  -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Favorite Recipes</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="crabcakes">Crabcake Page</a></li>
            <li><a href="cornbread">Corn Bread Page</a></li>
            <li><a href="gingerale">Ginger Ale Page</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">

        <h1 class="text-center">Favorite Recipes</h1>

    </div>
</div>




<div class="container">
    <p> <h1 class="text">Crabcake Recipe</h1></p>
    <p>
            <img src="CrabCakesSquare.jpg" alt="Pictire of Crabcakes" style="width:800px;height:738px;"/>
    </p>


    <p> <h1 class="text">Corn Bread Recipe</h1></p>
    <p>
        <img src="Cornbread-Muffins2.jpg" alt="Pictire of Mini-Crabcakes"  style="width:820px;height:559px;"/>
    </p>


    <p><h1 class="text">Ginger Ale Recipe</h1></p>
    <p>
        <img src="ginger-beer-e1418743004647.jpg" alt="Pictire of Mini-Crabcakes"  style="width:1024px;height:685px;"/>
    </p>






</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="external.css"/>

</body>
</html>